<h1>Editing technique</h1>

<%= render "form", technique: @technique %>

<br>

<div>
  <%= link_to "Show this technique", @technique %> |
  <%= link_to "Back to techniques", techniques_path %>
</div>
